Repository mkusaka/circleci-autocancel: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-frontend, run-backend, run-shared, run-docs, run-all

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@2.0.2

workflows:
  setup:
    jobs:
      # Path filtering to detect which parts of monorepo changed
      - path-filtering/filter:
          name: check-updated-modules
          mapping: |
            packages/frontend/.* run-frontend true
            packages/backend/.*  run-backend true
            packages/shared/.*   run-shared true
            docs/.*              run-docs true
            .circleci/.*         run-all true
          base-revision: main
          config-path: .circleci/continue-monorepo.yml

test: backend change 1 - trigger backend workflow
  packages/backend/dummy.js
Due: run-backend

test: backend change 2 - should trigger autocancel
  packages/backend/dummy.js
Due: run-backend

test: frontend change 1 - trigger frontend workflow
  packages/frontend/dummy.js
Due: run-frontend

test: multi-package change - trigger multiple workflows
  packages/backend/dummy.js
  packages/frontend/dummy.js
Due: run-frontend, run-backend

test: shared change - trigger shared + integration
  packages/shared/dummy.js
Due: run-shared

test: shared change 2 - should trigger autocancel
  packages/shared/dummy.js
Due: run-shared

fix: autocancel should only cancel same workflow type
  .circleci/continue-monorepo.yml
  README.md
Due: run-all

test 1: frontend workflow A
  packages/frontend/dummy.js
Due: run-frontend

test 2: backend workflow A - should NOT cancel frontend
  packages/backend/dummy.js
Due: run-backend

test 3: frontend workflow B - should cancel frontend A
  packages/frontend/dummy.js
Due: run-frontend

feat: add debug info to show which workflows are cancelled
  .circleci/continue-monorepo.yml
Due: run-all

test 4: backend workflow B - should cancel backend A
  packages/backend/dummy.js
Due: run-backend

feat: add detailed summary of cancelled workflows
  src/index.ts
Due: none

style: format code with prettier
  .circleci/continue-monorepo.yml
  packages/backend/dummy.js
  packages/frontend/dummy.js
  packages/shared/dummy.js
  src/index.ts
Due: run-frontend, run-backend, run-shared, run-all

0.0.2
  package.json
Due: none

chore: fix lint warnings and update CHANGELOG
  CHANGELOG.md
  packages/backend/dummy.js
  packages/frontend/dummy.js
  packages/shared/dummy.js
Due: run-frontend, run-backend, run-shared

docs: add global autocancel examples for setup workflows
  .circleci/config-monorepo-global.yml
  .circleci/config-monorepo-hybrid.yml
  README.md
Due: run-all

fix: resolve CI failures and optimize workflow
  .circleci/config-monorepo-global.yml
  .circleci/config-monorepo-hybrid.yml
  .github/workflows/ci.yml
  README.md
Due: run-all

refactor: separate typecheck into independent CI job
  .github/workflows/ci.yml
Due: none

feat: add CircleCI workflow URLs to cancellation summary
  CHANGELOG.md
  src/index.ts
Due: none

test: trigger frontend workflow to test URL display
  packages/frontend/dummy.js
Due: run-frontend

test: second push to trigger autocancel with URL display
  packages/frontend/dummy.js
Due: run-frontend

fix: update CircleCI configs to use development code
  .circleci/config-monorepo-global.yml
  .circleci/config-monorepo-hybrid.yml
  .circleci/continue-monorepo.yml
Due: run-all

test: trigger backend workflow 1
  packages/backend/dummy.js
Due: run-backend

test: trigger backend workflow 2 - should cancel previous with URL display
  packages/backend/dummy.js
Due: run-backend

0.0.3
  package.json
Due: none

docs: add detailed explanation of default behavior
  README.md
Due: none

feat: add verbose workflow scanning details
  src/index.ts
Due: none

style: format code with prettier
  src/index.ts
Due: none

0.0.4
  package.json
Due: none

feat!: change default to cancel all workflows and rename CLI option
  CHANGELOG.md
  README.md
  src/cli.ts
  src/index.ts
  test/autocancel.test.ts
Due: none

style: format code with prettier
  README.md
  src/index.ts
Due: none

0.0.5
  package.json
Due: none

docs: update CHANGELOG for v0.0.5 release
  CHANGELOG.md
Due: none

chore: replace renovate.json with renovate.json5 using best-practices config
  renovate.json
  renovate.json5
Due: none

chore: adopt pnpm 11 with trust-policy hardening
  package.json
  pnpm-workspace.yaml
Due: none

fix(ci): set up Node before pnpm so pnpm 11 installs on a supported engine
  .github/workflows/ci.yml
Due: none

fix(ci): install standalone pnpm to satisfy engine-strict
  .github/workflows/ci.yml
Due: none

style: format renovate.json5 with prettier
  renovate.json5
Due: none
